Options +SymLinksIfOwnerMatch
RewriteEngine on

RewriteRule ^admin$ index.php?page=admin [L]

RewriteRule ^accueil$ index.php [L]

RewriteRule ^portfolio$ index.php?page=portfolio [L]

RewriteRule ^cv$ index.php?page=cv [L]

RewriteRule ^dashboard$ index.php?page=dashboard [L]

RewriteRule ^contact$ index.php?page=contact [L]