*{
    box-sizing: border-box;
    margin:0;
    padding:0;
}

:root {

    /* text font and color */
    font-family: 'Open Sans';
    --ff: Open Sans;
    --text-primary: #565656;
    --text-secondary: #8f8871;
    --trust-me: #3FA9F5;

    

    /* background color */
    --bg-primary: #FDFDFD;
    --bg-secondary: #F5F5F5;

    /* credits to vittascience for this
        very good choice of colors */
    --vitta-white: white;
    --vitta-black: black;
    --vitta-black-shadow-color: rgba(0, 0, 0, 0.2);
    --vitta-green: #22b573;
    --vitta-green-focus-shadow: #22b57380;
    --vitta-green-dark: #008447;
    --vitta-green-light: #7ac943;
    --vitta-orange: #fc7417;
    --vitta-orange-dark: #ca7510;
    --vitta-orange-light: #ff9403;
    --vitta-orange-light-focus-shadow: #ff940380;
    --vitta-yellow: #f9d142;
    --vitta-yellow-dark: #c2a000;
    --vitta-blue: #3fa9f5;
    --vitta-blue-dark: #1a6da8;
    --vitta-red: #dc3545;
}

html {
    color:var(--text-primary);
    font-family: var(--ff), sans-serif;
    font-size: 62.5%;
    /* makes auto scroll smooth with anchors */
    scroll-behavior: smooth;
}

.template {
    background-color: var(--bg-secondary);
    font-size:2em;
}

.container{
    width:80%;
    margin:auto;
}

/********************************/
/*            Header            */
/********************************/

header{
    width:100%;
    height:11em;
    position: fixed;
    background-color: var(--bg-primary);
    border: 1px solid var(--vitta-black-shadow-color);
    z-index: 1;
}


/********************************/
/*          general             */
/********************************/

main {
    margin:0;
}

section{
    width:100%;
}

section:nth-child(even){
    background-color: var(--bg-secondary);
    border-radius: 0px 4em 4em 0px;
}

section:nth-child(odd){
    background-color: var(--bg-primary);
    box-shadow:0px 0px 15px var(--vitta-black-shadow-color);
    border-radius: 4em 0px 0px 4em;
}

section:first-child{
    border-radius: 0px 0px 4em 4em;
}

h2{
    font-size:1.5em;
    font-weight: 800;
    width:100%;
    margin: 1em 0;
}

p{
    margin: 1em 0;
    text-align: justify;
}

a{
    color: var(--text-primary);
    text-decoration:none;
}
/********************************/
/*           intro              */
/********************************/

.intro{
    margin-top:5.5em;
    padding:2em 0;
    justify-content: center;
    align-content: center;
    border-radius: 0px 0px 4em 4em;
    filter: drop-shadow(0px 0px 15px var(--vitta-black-shadow-color));
}

.intro .txt{
    margin:auto;
    width:65%;
}

.intro .animation{
    width:35%;
    position: relative;
}

.intro .animation img {
    vertical-align: middle;
    border-style: none;
}

.responsive{
    width:100%;
    margin:auto;
}

#circle1{
    width:100%;
    border-radius:50%;
    animation: spin 20s infinite linear;
}

  
@keyframes spin {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

#circle2{
    width: 40%;
    margin: 0;
    border-radius:50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
}

.website{
    padding:0.5em 2em;
    width:25%;
    border-radius:2em;
    background-color: var(--vitta-green);
    color:var(--vitta-white);
}

.website:hover{
    background-color: var(--vitta-green-dark);
}

/********************************/
/*         2nd block            */
/********************************/


.skills{
    padding:2em 0;
}

.skills .container{
    justify-content:space-between;
}

.skills h2 {
    text-align:center;
    color: var(--vitta-green);
}

.skills .projects {
    width:32%;
    flex-direction:column;
    justify-content:space-between;
}

.skills .projects li:first-child{
    list-style-type: none;
    margin-left:-1em;
    padding:1em 0;
    font-weight:bold;
}

.skills .course  {
    width:65%;
    padding:2em;
}

.skills .projects ul,
.skills .course{
    margin:1em 0;
    border-radius:2em;
    background-color: var(--bg-primary);
    filter: drop-shadow(0px 0px 15px var(--vitta-black-shadow-color));
}

.skills .projects ul{
    padding: 0 2em;
}

#ptext,
#dtext,
#btext{
    display:none;
}

.portfolio:hover,
.doom:hover,
.breaker:hover{
    box-shadow: 0px 0px 15px var(--vitta-green);
}

.portfolio:active,
.doom:active,
.breaker:active{
    box-shadow: 0px 0px 15px var(--vitta-green-dark);
}

.portfolio:active #ptext,
.doom:active #dtext,
.breaker:active #btext{
    display:block;
}

.humanBeing h2{
    color: var(--vitta-blue);
    text-align:center;
}

.humanBeing .container{
    width:60%;
}

.meImg{
    margin:auto;
    width:30%;
}

.meImg img{
    width:100%;
}

.meTxt{
    width:70%;
}

.precious{
    padding-bottom:7em;
}

.precious h2{
    text-align:center;
    color:var(--vitta-yellow);
}

.precious .container p{
    margin-top: 0;
    text-align:center;
    width:100%;
}

.precious .container p:first-child{
    margin-top: 0;
}

.precious .container .wheel{
    width:30%;
}

.precious .container .wheel img{
    width:100%;
}

.precious .language{
    width:70%;
}

#wheelBtn{
    color: var(--vitta-white);
    margin:auto;
    width:30%;
    border-radius:2em;
    padding:1em 2em;
    background-color: var(--vitta-green);
}

#wheelBtn{
    padding:0.5em 2em;
    margin-bottom:2em;
    background-color: var(--vitta-green);
}

#wheelBtn:hover{
    border:2px solid var(--vitta-green-dark);
}

#wheelBtn:active{
    background-color: var(--vitta-green-dark);
}

.wheel{
    position:relative;
    background-image: url(../ressources/images/wheel_button.png);
    width:30%;
    margin:auto;
    background-position: center;
    background-repeat: no-repeat;
}

#pointer{
    position:absolute;
    width:30%;
    height:auto;
    top: 40%;
    left: 90%;
    transform-origin: 50% 50%;
    z-index:1;
}

.language{
    width:70%;
    padding:3em 5em;
}

[id="1"],[id="2"],[id="3"],[id="4"],[id="5"],[id="6"]{
   display:none;
   width:70%;
   margin:auto;
}

.wheelSpin{
    animation: wheelAnim 3s linear;
}

@keyframes wheelAnim {
    0% {
        transform:rotate(var(--starting-deg));
    }
    90% {
        transform:rotate(var(--mid-deg));
    }
    100% {
        transform:rotate(var(--ending-deg));
    }
}

.pointerSpin{
    animation: pointerAnim 3s linear;
}

@keyframes pointerAnim {
    0% {
        
    }
    80% {
        transform:rotate(var(--pstart-deg));
    }
    87% {
        transform:rotate(var(--pmid-deg));
    }
    94% {
        transform:rotate(var(--pmid2-deg));
    }
    100% {
        transform:rotate(var(--pending-deg));
    }
}

/********************************/
/*            tools             */
/********************************/

.flex{
    display:flex;
}
.wrap{
    flex-wrap:wrap;
}
.hide{
    display:none;
}

/********************************/
/*        responsive            */
/********************************/

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 1024px) {

}